 body {
    margin: 0;
    height: 100vh;
 }

 canvas {
    display: block; 
 }

 h1 {
    position: absolute;
    top: .5em;
    left: .25em;
    font-family: 'Montserrat';
    font-size: 1em;
    text-transform: uppercase;
    width: auto;
    line-height: .8em;
    border: 5px solid black;
    padding: .2em;
  }